{% extends 'base.html' %}

{% block content %}

   <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>services</h4>
                <h2>  Empowering Your Journey</h2>
                <p class="text-light">Unlocking Potential, Nurturing Growth, and Inspiring Transformation.It  signifies a commitment to guiding individuals on a transformative journey of self-discovery and personal development. It emphasizes the dual concepts of uncovering one's hidden talents and nurturing ongoing growth, all while underscoring that this journey is deeply personal and tailored to each individual's pursuit of self-improvement and a more fulfilling life. It serves as an inspirational invitation to embark on a path of self-realization and empowerment, highlighting the website's dedication to assisting individuals in unlocking their potential and fostering continuous personal growth.     </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.jsYNeROIEKZijyUeP2jA9AHaFK?pid=ImgDet&rs=1" alt="Image Description" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>Anxiety</h1>
                <p>
                    Anxiety is a normal reaction to life’s many stressors, and everyone experiences it from time to time. However, when symptoms become larger than the situation at hand, uncontrollable or they interfere with everyday life, our team of providers can help.</p>
                <details>
                    <summary>What causes anxiety?</summary>
                    <p>Anxiety can be caused by many things from health issues to stressful life events. Whether you're starting a new job or even getting married, anxiety can quickly become uncontrollable. Our team of experts can help you take control of it with a treatment plan that's right for you.</p>
                </details>
  
                <details>
                    <summary>How do we offer you help?</summary>
                    <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
                </details>
                                                   <!-- Button at the bottom right -->
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="/anxiety_quiz">
          <button style="background-color: #cf2222; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
        </a>
        </div>
            </div>
        </div>
    </div>
  
  
  
  
  
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.JCh8lLG7YYutFhZ_Z2Q0XgHaE8?pid=ImgDet&rs=1" alt="Image Description" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>Panic Disorder</h1>
                <p>Panic disorder is a type of anxiety disorder that causes repeated panic attacks. If the frequency of panic attacks is disrupting daily life, schedule an appointment. Our experienced providers can help you understand what’s going on so that you can work towards feeling better.
                 </p>
                <details>
                    <summary>How do i know that i have panic disorder?</summary>
                    <p>A panic attack is a sudden feeling of intense fear and physical reactions. During a panic attack, it’s common for someone to think they’re having a heart attack or even dying, but it’s important to remember that you will get through it.</p>
                </details>
  
                <details>
                    <summary>How do we offer you help?</summary>
                    <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
                </details>
                                                   <!-- Button at the bottom right -->
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="panicdisorder_quiz">
          <button style="background-color: #cf2222;  color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
        </a>
        </div>
            </div>
        </div>
    </div>
  
  
  
  
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://i0.wp.com/www.clinicalhypnotherapy-cardiff.co.uk/wp-content/uploads/2020/06/OCD-stress.jpg?ssl=1" alt="Image Description" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>OCD</h1>
                <p>Repeated thoughts and behaviors are a normal part of how we operate. However, if they are beyond control, they take up at least one hour of the day or they negatively affect daily life, our providers can help you figure out if you may be dealing with obsessive-compulsive disorder.</p>
                <details>
                    <summary>What are the symptoms of OCD?</summary>
                    <p>We use a combination of therapy and medication to treat OCD. Our providers work closely with patients and use their input to create the best possible treatment plan.</p>
                </details>
  
                <details>
                    <summary>How do we offer you help?</summary>
                    <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
                </details>
                                                   <!-- Button at the bottom right -->
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="ocd_quiz">
          <button style="background-color: #cf2222; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
        </a>
        </div>
            </div>
        </div>
    </div>
  
  
  
  
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.ukumPPdJdmJTMl-zjz_btgHaEo?pid=ImgDet&rs=1" alt="Image Description" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>Eating Disorders</h1>
                <p>Eating disorders are a common yet serious illness that people can struggle with for their entire lives. Our team of experienced providers can help you cope with your eating disorder so it doesn’t control you. Our top priority is for you to live a happy and healthy life.</p>
                <details>
                    <summary>What are the symptoms of Eating disorder?</summary>
                    <p>People who suffer from eating disorders generally have a preoccupation with food, body weight and shape that disrupts their life and causes them to view themselves in an unhealthy and sometimes inaccurate way.</p>
                </details>
  
                <details>
                    <summary>How do we offer you help?</summary>
                    <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
                </details>
                                                   <!-- Button at the bottom right -->
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="eatingdisorder_quiz">
          <button style="background-color: #cf2222;; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
        </a>
        </div>
            </div>
        </div>
    </div>
  
  
  
    <div class="container mt-4">
      <div class="row">
          <div class="col-md-4">
              <img src="https://media.post.rvohealth.io/wp-content/uploads/sites/4/2021/06/ADHD-Landing-Page-732x549-thumbnail-732x549.png" alt="Image Description" class="img-fluid">
          </div>
          <div class="col-md-8">
              <h1>ADHD</h1>
              <p>It’s not uncommon to struggle to pay attention or control impulses from time to time, and we all feel hyperactive sometimes, too. However, if any of these symptoms are consistently getting in the way of daily tasks and you want to make a change, our providers are here to help.</p>
              <details>
                  <summary>At what age you diagnose someone with ADHD?</summary>
                  <p>ADHD commonly presents itself in children, however, it can appear throughout adolescence and adulthood as well.</p>
              </details>
  
              <details>
                  <summary>How do we offer you help?</summary>
                  <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
              </details>
                                                 <!-- Button at the bottom right -->
      <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="adhd_quiz" style="text-decoration: none;">
          <button style="background-color: #cf2222; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
              </a>
      </div>
          </div>
      </div>
  </div>
  
  
  
  <div class="container mt-4">
      <div class="row">
          <div class="col-md-4">
              <img src="https://huttshead.files.wordpress.com/2011/07/2078098933_27e5f6cb96.jpg?w=500" alt="Image Description" class="img-fluid">
          </div>
          <div class="col-md-8">
              <h1>Schizophrenia</h1>
              <p>
                  Schizophrenia doesn’t have to control your life. At the Anxiety & Depression Institute, our experienced providers can help you manage your symptoms so that you can be your happiest, healthiest and best self. Our drive is to help you feel better than ever.</p>
              <details>
                  <summary>What does Schizophernia look like?</summary>
                  <p>People who suffer from eating disorders generally have a preoccupation with food, body weight and shape that disrupts their life and causes them to view themselves in an unhealthy and sometimes inaccurate way.</p>
              </details>
  
              <details>
                  <summary>How do we offer you help?</summary>
                  <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
              </details>
                                                 <!-- Button at the bottom right -->
      <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
          <a href="schizoprenia_quiz" style="text-decoration: none;">
          <button style="background-color: #cf2222; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
     </a>
      </div>
          </div>
      </div>
  </div>
  
  
  
  <div class="container mt-4 mb-5">
      <div class="row">
          <div class="col-md-4">
              <img src="https://th.bing.com/th/id/OIP.sdlLEtCSSgr1JAyFkdC6gAHaE8?pid=ImgDet&rs=1" alt="Image Description" class="img-fluid">
          </div>
          <div class="col-md-8">
              <h1>Bipolar Disorder</h1>
              <p>
                  Manic and depressive episodes don’t have to rule your life. At the Anxiety & Depression Institute, our team of experienced providers will help you figure out which type of bipolar you have, as well as the best way to treat it so that you can live your life better than ever.</p>
              <details>
                  <summary>What does Bipolar disorder look like?</summary>
                  <p>There are three types of bipolar disorder, Bipolar I Disorder, Bipolar II Disorder and Cyclothymic Disorder or Cyclothymia, each differentiated by the length and patterns of manic and depressive episodes.</p>
              </details>
  
              <details>
                  <summary>How do we offer you help?</summary>
                  <p>Our providers use a combination of therapy and medication when needed. We use your input to create a treatment plan that is specific to you.</p>
              </details>
                                                 <!-- Button at the bottom right -->
      <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
  
          <a href="bipolar_quiz" style="text-decoration: none;">
          <button style="background-color: #cf2222; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">Check Yourself</button>
     </a>
      </div>
          </div>
      </div>
  </div>
  {%  endblock %}